###############################
# Python / General
###############################
__pycache__/
*.py[cod]
*$py.class

###############################
# Virtual env / Environment
###############################
venv/
.env

###############################
# Build / Packaging
###############################
build/
dist/
*.egg-info/

###############################
# Outputs / Artifacts
###############################
output/

###############################
# Cache dir (keep folder, ignore contents)
###############################
cache/**
!cache/.gitkeep

###############################
# Log dir (keep folder, ignore contents)
###############################
log/**
!log/.gitkeep

###############################
# Editors / OS
###############################
.vscode/
.idea/
.DS_Store
Thumbs.db

###############################
# Jupyter
###############################
.ipynb_checkpoints/


